# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
*.iml

## Directory-based project format:
.idea/

vendor/
deploy.sh
.env.php
composer.lock


